Infrastructure-Automation-via-n8n-SSH/tree/main.json
{
  "name": "Infrastructure-Automation-via-n8n-SSH/tree/main",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ]
      },
      "type": "CUSTOM.telegramPollingTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        0
      ],
      "id": "84c64bd3-8c29-425e-a1f0-160190b479d0",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "8BgfDWhncDFPDXhA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "command": "={$json.message.text}"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "aa692b82-12c5-4ba9-a8ca-209efcb9d748",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "5qpTLmAl7HJ01TdM",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "text": "={$json.stdout}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        0
      ],
      "id": "d4ba65f3-bad4-4d94-b598-a71f4d0f5706",
      "name": "Send a text message",
      "webhookId": "6adc86dc-fe36-4511-afe5-6b7befa08fdf",
      "credentials": {
        "telegramApi": {
          "id": "8BgfDWhncDFPDXhA",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -128
      ],
      "id": "cd084b7b-de91-4efd-9c93-e8027ce52e98",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "inxi -F -c 0",
        "cwd": "/home/kali"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        80,
        -128
      ],
      "id": "9a409381-6b3d-44c2-ad78-19ff6fa35d57",
      "name": "Execute a command1",
      "credentials": {
        "sshPassword": {
          "id": "5qpTLmAl7HJ01TdM",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "text": "={$json.stdout}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -128
      ],
      "id": "6a468ecd-4b85-4363-b02f-80c6f60af890",
      "name": "Send a text message1",
      "webhookId": "63741424-17b2-43f1-a916-b5d8adfb37bf",
      "credentials": {
        "telegramApi": {
          "id": "8BgfDWhncDFPDXhA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1dc174b9-20c3-49fc-a64c-b37d91d3fe29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88a373814c8af1bbad46be27ee723e9319f48b80b2179d7f312afd2f03dcf330"
  },
  "id": "9RUy7XT1bho7bIMc",
  "tags": []
}
